<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center">Rent <%= @pokemon.name %> </h2>
      <%= render "shared/booking_form" %>
    </div>
  </div>
</div>

<script>
  // Pass the booked date ranges from Rails to JavaScript
  const bookedDateRanges = <%= raw @booked_date_ranges.to_json %>;
  console.log("Booked Date Ranges:", bookedDateRanges);
  window.bookedDateRanges = bookedDateRanges;
</script>
