<div class="my-4">
  <%= simple_form_for([@pokemon, @booking]) do |f| %>
    <div class="container">
      <div class="form-group">
        <%= f.input :start_date,
        placeholder: "Pick up date",
        as: :string,
        input_html: { data: { controller: "datepicker"} } %>
      </div>
      <div class="form-group">
        <%= f.input :end_date,
        placeholder: "Drop off date",
        as: :string,
        input_html: { data: { controller: "datepicker"} } %>
      </div>
      <div class="form-group">
        <%= f.button :submit, "Book Now", class: "my-5 w-100", style: "background-color: #003153; color: white;" %>
      </div>
    </div>
  <% end %>
</div>
