  <footer class="py-2 my-4 border-top border-3 footer">
    <div class="row d-flex justify-content-between align-items-center ">
      <div class="col-12 col-lg-6 d-flex">
        <span class="text-muted mx-5 mb-3 font-size-footer-page">© <%= Time.current.year %> PokemonWorld, Inc</span>
      </div>

      <ul class="nav col-12 col-lg-6 justify-content-end list-unstyled d-flex">
          <section class="icon-list">
            <a class="text-muted" href="https://x.com/world_pokemon_1" target="_blank"><i class="nes-icon twitter is-medium mr-5" style="transform: scale(2);"></i></a>
            <a class="text-muted" href="#" target="_blank"><i class="nes-icon facebook is-medium mr-5" style="transform: scale(2);"></i></a>
            <a class="text-muted" href="https://www.instagram.com/po.kemon2029/" target="_blank"><i class="nes-icon instagram is-medium mr-5" style="transform: scale(2);"></i></a>
          </section>
      </ul>
    </div>
  </footer>
