<div class="price-card">
  <div class="nes-container is-rounded mt-auto">
    <h3 class="press-start-2p-regular mb-5">Price</h3>
      <p style="text-align: right; padding-right: 30px">$ <%= @pokemon.price %> AUD</p>
    <div class="d-grid">
        <%= button_to "BOOK", new_pokemon_booking_path(@pokemon), method: :get, class: "nes-btn is-warning w-100" %>
    </div>
  </div>
</div>
