a {
  text-decoration: none;
  color: rgb(57, 51, 51);
}

.button-font {
  font-size: 0.80vw;
}

.hover-effect-button {
  &:hover {
    background-color: #003153;
    color: white;
    border-radius: 2%;
    padding: 10px;

  }
}

@media (max-width: 575px) {
  .button-font {
    font-size: 10px;
  }
}
