.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel {
  width: 80%;
  height: 480px;
  display: grid;
  place-items: center;  /* Center both horizontally and vertically */
  height: 100vh;        /* Full viewport height to center vertically */
  text-align: center;
}
