
.card {
  width: 220px;
  border-radius: 2%;
  margin-bottom: 1rem;
}

.card-img-top {
  height: 200px;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.pokemon-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pokemon-name {
  font-weight: bold;
  font-size: 0.80vw;
}

.pokemon-price {
  font-size: 0.80vw;
  margin-right: 14px;
}

@media (max-width: 575px) {
  .the-cards {
    justify-content: center;
  }

  .card {
    width: 100%;
  }

  .pokemon-name {
    font-weight: bold;
    font-size: 10px;
  }

  .pokemon-price {
    font-size: 10px;
    margin-right: 14px;
  }
}


@media (min-width: 1500px) {
  .card {
    width: 260px;
    border-radius: 2%;
    margin-bottom: 1rem;
  }

  .big-screen-pokemon-image {
    height: 200px;
    width: 230px;
  }
}
