.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel {
  margin: 20px 0;
  height: 480px;
  display: grid;
  place-items: center;  /* Center both horizontally and vertically */
  height: 80vh;        /* Full viewport height to center vertically */
  text-align: center;
}
