.card {
  width: 250px;
  border-radius: 2%;
  margin-bottom: 1rem;
}

.card-img-top {
  height: 200px;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.pokemon-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pokemon-name {
  font-weight: bold;
  font-size: 0.80vw;

}

.pokemon-price {
  font-size: 0.80vw;
  margin-right: 14px;
}
