body {
  padding-top: 90px;
  margin: 0;
}

.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255,209,1,255);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 55px;
}

.sticky {
  position: fixed;
  top: 0px;
  z-index: 1000; /* Ensures it stays above other content */
  width: 100%;
}

.search-bar {
  padding-right: 3px;
  border-radius: 30px;
  width: 25vw;
}

.btn {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn i {
  color: black;
}

@media (max-width: 768px) {

  .search-bar {
    width: 50vw;
  }

  .btn {
    right: 5px;
  }
}
