.navbar {
  height: 55px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #003153;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.sticky {
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100%;
}

.search-bar {
  padding-right: 3px;
  border-radius: 20px;
  width: 25vw;
  height: 30px;
  font-size: 1vw;
}

.nav-link {
  color: white;
}

.btn {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn i {
  color: black;
}

@media (max-width: 768px) {

  .search-bar {
    width: 50vw;
  }

  .btn {
    right: 5px;
  }
}

@media (max-width: 575px) {

  .entire-search-bar {
    display: none;
  }

  .nav-item.dropdown,
  .nav-item {
    display: block; /* Ensure visibility on small screens */
  }

  .btn {
    right: 4px;
  }

  .navbar {
    height: 60px;
  }
}
