.pokemon-name {
  margin: 20px;
}

.pokemon-image {
  height: 400px;
  width: 350px;
}

.pokemon-overview {
  margin: 40px;
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.box {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 25px;
}

.pokemon-name-show {
  font-size: 3rem;
}

.price {
  font-size: 1.50rem;
}

.description {
  font-size: 1.40rem;
}

.text-description {
  font-size: 1.25rem;
}

@media (max-width: 700px) {
  .carousel {
    width: 100%;
    max-width: 90%; 
    margin: auto;
  }

  .carousel-inner img {
    width: 100%;
    height: auto;
  }

  .carousel-indicators {
    bottom: 10px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 30px;
    height: 30px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 20px;
    height: 20px;
  }
}
