<div class="card-product">
  <% if pokemon.photos.present?%>
    <%= cl_image_tag pokemon.photos.first.key, height: 100, width: 124%>
  <% end %>
  <div class="card-product-infos">
    <h6 class="mt-2" ><strong><%= pokemon.name %></strong></h6>
    <p class="mb-0">$<%= pokemon.price %> AUD</p>
  </div>
</div>
