<%# Card below... %>
<%# It definitely needs more changes, but we will need to change the seed first to get all the info... then we can update the card.. :) %>

<div class="album py-5 bg-light">
  <div class="container">
    <%= button_to "Add New", new_pokemon_path, method: :get, class: "btn btn-warning mb-3", style: "background-color: #ffd101"%>
    <div class="row justify-content-center">
      <% @pokemons.each do |pokemon| %>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex align-items-center">
          <%= link_to pokemon_path(pokemon), style: "text-decoration: none;" do %>
            <div class="card mb-4 shadow-sm">
                <%= cl_image_tag pokemon.photos.first.key, height: 200, width: 248%>
              <div class="card-body">
                <p class="card-text"><%= pokemon.name %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
