<div class="album py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <% @pokemons.each do |pokemon| %>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex align-items-center">
          <%= link_to pokemon_path(pokemon), style: "text-decoration: none;" do %>
            <div class="card mb-4 shadow-sm">
              <%= image_tag pokemon.photo_url, class: "card-img-top", alt: "Photo of the pokemon" %>
              <div class="card-body">
                <span class="pokemon-name"><%= pokemon.name %></span>
                <span class="pokemon-price">$<%= pokemon.price %> AUD</span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
