<div class="container mt-3">
  <div class="d-flex align-items-center justify-content-center mt-3 mb-4">
    <h1 class="m-0"><%= @pokemon.name %></h1>
    <% #if @pokemon.user_id ===?  %>
    <div>
      <%= link_to pokemon_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, style: "color: black;" do %>
      <i class="fa-solid fa-trash mx-3"></i>
      <% end %>
    </div>
    <%# else %>
    <%# end %>
  </div>

  <%= render "shared/carousel" %>

  <div class="row d-flex">
    <div class="col-8">
      <div style="border-bottom: 1px solid rgb(221, 221, 221); padding-top: 24px; padding-bottom: 24px;">
        <p>★ 23 reviews</p>
        <p><%= @pokemon.overview %></p>
      </div>
    </div>

    <div class="col-4">
      <div class="price-card mt-auto" style="border: 1px solid rgb(221, 221, 221); border-radius: 12px; padding: 24px; box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px; width: 100%">
        <h2>Price</h2>
        <span>$20 AUD</span>
        <div class="d-grid gap-2">
          <%#= render "shared/form" %>
        </div>
      </div>
    </div>
  </div>

</div>
