<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center press-start-2p-regular">New Review</h2>
      <%= simple_form_for([@pokemon, @review]) do |f| %>
        <div class="nes-field">
          <%= f.input :content, input_html: { class: "nes-input mt-3" } %>
          <%= f.submit "Submit review", class: "nes-btn is-warning my-4b w-100", style: "background-color: #003153; color: white;" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
